Repository Easysort/Easysort: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, tests, pylint

.pre-commit-config.yaml:

# on Windows -- $env:SKIP="tests,example"
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python3 -m ruff check easysort/ tests/ --fix
        language: system
        types: [python]
        pass_filenames: true
      - id: mypy
        name: mypy
        entry: python3 -m mypy --strict-equality --follow-imports=silent
        language: system
        types: [python]
        files: ^easysort/.*\.py$
        pass_filenames: true
      - id: tests
        name: subset of tests
        entry: env PYTHONPATH="." python3 -m pytest tests/
        language: system
        types: [python]
        pass_filenames: true
      - id: pylint
        name: pylint
        entry: python3 -m pylint easysort/
        language: system
        types: [python]
        pass_filenames: true

fix test failure
  tests/test_image_registry.py
Due: ruff, tests, pylint

added PyQT app integration
  easysort/system/camera/CameraClass.py
  easysort_gui.ui
  main_program.py
  requirements.txt
Due: ruff, mypy, tests, pylint

plan for victory
  docs/open-questions.md
  docs/plan-for-victory.md
Due: none

jetson on plan
  docs/plan-for-victory.md
Due: none

add DEBUG to environment
  easysort/common/environment.py
Due: ruff, mypy, tests, pylint

add speed specification
  easysort/system/gantry/controller/controller.ino
Due: none

realsense connector and implementation into pipeline with streaming ability
  easysort/sorting/infer_yolov8_ultralytics.py
  easysort/sorting/pipeline.py
  easysort/sorting/test_pyrealsense.py
  easysort/system/camera/realsense_connector.py
  easysort/utils/detections.py
Due: ruff, mypy, tests, pylint

delete unused files
  easysort/system/disassembly_arms/arm_connector.py
  easysort/system/gantry/config.yaml
  tests/test_delta_connector.py
Due: ruff, mypy, tests, pylint

linting
  easysort/sorting/pipeline.py
Due: ruff, mypy, tests, pylint

outline
  tests/test_detection.py
  tests/test_detection_sample.py
Due: ruff, tests, pylint

running app with tracking
  easysort/system/camera/CameraClass.py
  main_program.py
Due: ruff, mypy, tests, pylint

Update plan-for-victory.md
  docs/plan-for-victory.md
Due: none

change to platformio, implement suction cup control in cpp and make api through connector
  .txt
  easysort/system/gantry/README.md
  easysort/system/gantry/connector.py
  easysort/system/gantry/controller/.gitignore
  easysort/system/gantry/controller/include/README
  easysort/system/gantry/controller/platformio.ini
  easysort/system/gantry/controller/src/main.cpp
  easysort/system/gantry/controller/test/README
Due: ruff, mypy, tests, pylint

delete txt file
  .txt
Due: none

update 19/03
  docs/plan-for-victory.md
Due: none

basic calibration functionality
  easysort/system/camera/CameraClass.py
  easysort/system/gantry/connector.py
  easysort_gui.ui
  main_program.py
Due: ruff, mypy, tests, pylint

added robot control functionality
  easysort/system/camera/CameraClass.py
  easysort/system/gantry/connector.py
  easysort_gui.ui
  main_program.py
Due: ruff, mypy, tests, pylint

modernize build system: switch to hatchling and uv
  README.md
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

update git hooks
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  uv.lock
Due: none

implement publisher/subscriber interface and add test
  easysort/utils/pubsub.py
  pyproject.toml
  tests/test_pubsub.py
  uv.lock
Due: ruff, mypy, tests, pylint

update 23/03
  docs/open-questions.md
  docs/plan-for-victory.md
Due: none

move visualize_sorting_pipeline_image to .visualize
  easysort/sorting/pipeline.py
  easysort/visualize/sorting_image.py
  easysort/visualize/sorting_video.py
Due: ruff, mypy, tests, pylint

add z coordinates
  easysort/system/gantry/connector.py
  easysort/system/gantry/controller/src/main.cpp
  easysort/utils/detections.py
Due: ruff, mypy, tests, pylint

add robot id and image registry path
  easysort/common/environment.py
Due: ruff, mypy, tests, pylint

update visualize to use supabase
  easysort/visualize/helpers.py
  easysort/visualize/sorting.py
  easysort/visualize/sorting_video.py
Due: ruff, mypy, tests, pylint

add ImageRegistry class and exists to SupabaseHelper
  easysort/common/image_registry.py
Due: ruff, mypy, tests, pylint

Add ImageSample and VideoSample classes
  easysort/utils/detections.py
  easysort/utils/image_sample.py
Due: ruff, mypy, tests, pylint

image registry test, realsense mac connector fix, pipelin with camera
  .gitignore
  easysort/common/datasaver.py
  easysort/common/image_registry.py
  easysort/sorting/pipeline.py
  easysort/system/camera/realsense_connector.py
  easysort/utils/image_sample.py
  tests/test_image_registry.py
Due: ruff, mypy, tests, pylint

iamge registry, detections and image sample tests
  easysort/common/image_registry.py
  easysort/utils/detections.py
  tests/test_detections.py
  tests/test_image_registry.py
  tests/test_image_sample.py
Due: ruff, mypy, tests, pylint

change to much more effective JPEG and reduce size by 15x
  easysort/utils/image_sample.py
Due: ruff, mypy, tests, pylint

add ultralytics to dependencies
  .github/workflows/lint.yml
Due: none

fix paths to be global
  easysort/sorting/infer_yolov8_ultralytics.py
  easysort/sorting/pipeline.py
  easysort/sorting/segmentation_fastsam.py
  easysort/sorting/train_yolov8_ultralytics.py
  easysort/visualize/sorting.py
Due: ruff, mypy, tests, pylint

fix z loop error and add is_ready to safely move robot
  easysort/system/gantry/connector.py
  easysort/system/gantry/controller/src/main.cpp
Due: ruff, mypy, tests, pylint

add the speed coefficient
  easysort/system/gantry/controller/src/main.cpp
Due: none

split the horizontal and vertical coefficients
  easysort/system/gantry/controller/src/main.cpp
Due: none

connector rewrite + interactive connect app
  easysort/system/gantry/connect_interactive.py
  easysort/system/gantry/connector.py
Due: ruff, mypy, tests, pylint

change the bang-bang controller to the nonlinear P controller
  easysort/system/gantry/controller/src/main.cpp
Due: none

kinematics bug
  easysort/system/gantry/controller/src/main.cpp
Due: none

finer movements
  easysort/system/gantry/connect_interactive.py
Due: ruff, mypy, tests, pylint
